In [13]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in g:\project\mlproject\venv\lib\site-packages (1.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy>=1.3.2 in g:\project\mlproject\venv\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in g:\project\mlproject\venv\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in g:\project\mlproject\venv\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in g:\project\mlproject\venv\lib\site-packages (from scikit-learn) (1.2.0)

In [14]:
pip install catboost

Requirement already satisfied: catboost in g:\project\mlproject\venv\lib\site-packages (1.2)
Requirement already satisfied: graphviz in g:\project\mlproject\venv\lib\site-packages (from catboost) (0.20.1)
Requirement already satisfied: plotly in g:\project\mlproject\venv\lib\site-packages (from catboost) (5.15.0)
Requirement already satisfied: matplotlib in g:\project\mlproject\venv\lib\site-packages (from catboost) (3.7.1)
Requirement already satisfied: six in g:\project\mlproject\venv\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: numpy>=1.16.0 in g:\project\mlproject\venv\lib\site-packages (from catboost) (1.24.3)
Requirement already satisfied: scipy in g:\project\mlproject\venv\lib\site-packages (from catboost) (1.10.1)
Requirement already satisfied: pandas>=0.24 in g:\project\mlproject\venv\lib\site-packages (from catboost) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\project\mlproject\venv\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in g:\project\mlproject\venv\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: pytz>=2020.1 in g:\project\mlproject\venv\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: cycler>=0.10 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (9.5.0)
Requirement already satisfied: contourpy>=1.0.1 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (5.12.0)
Requirement already satisfied: packaging>=20.0 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in g:\project\mlproject\venv\lib\site-packages (from matplotlib->catboost) (4.39.4)
Requirement already satisfied: tenacity>=6.2.0 in g:\project\mlproject\venv\lib\site-packages (from plotly->catboost) (8.2.2)
Requirement already satisfied: zipp>=3.1.0 in g:\project\mlproject\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.15.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install xgboost

Requirement already satisfied: xgboost in g:\project\mlproject\venv\lib\site-packages (1.7.5)
Requirement already satisfied: scipy in g:\project\mlproject\venv\lib\site-packages (from xgboost) (1.10.1)
Requirement already satisfied: numpy in g:\project\mlproject\venv\lib\site-packages (from xgboost) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

## Import the CSV Data as Pandas DataFrame

In [17]:
df = pd.read_csv('G:\Project\mlproject\dataset\StudentsPerformance.csv')

Show Top 5 Records

In [18]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Preparing X and Y variables

In [19]:
X = df.drop(columns=['math score'],axis=1)

In [20]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [26]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race/ethnicity' variable:  ",end=" ")
print(df['race/ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental level of education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test preparation course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race/ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [28]:
y = df['math score']

In [29]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [31]:
y.describe()

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64

In [32]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [33]:

X = preprocessor.fit_transform(X)

In [34]:
X.shape

(1000, 19)

In [35]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

Create an Evaluate Function to give all metrics after model Training

In [36]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [ ]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')